@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Karla:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  background: #ffffff;
}

header {
  background: #00669f;
  height: 6.45rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 0.62rem;
}

.logo p {
  color: #fff;
  font-size: 1.87rem;
  margin-left: 1.87rem;
}

.logo a {
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discountBar {
  background: #1cd1b0;
  height: 1.45rem;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding-left: 1.68rem;
}

main {
  display: flex;
  margin-top: 10vh;
  margin-bottom: 10vh;
  justify-content: center;
  align-items: center;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
}

form p {
  text-align: center;
}

h1 {
  font-size: 4.5rem;
  font-weight: 700;
  font-family: Inter;
  margin-bottom: 3.43rem;
}

input {
  height: 3.75rem;
  border: 1.53px solid #000;
  padding-left: 1.68rem;
  margin-bottom: 1.25rem;
}

input::placeholder {
  color: #000;
  font-family: Karla;
  font-size: 1.25rem;
}

button {
  background: #1cd1b0;
  border-radius: 23.011px;
  height: 53.79px;
  border: none;
  font-family: Karla;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 2.5rem;
  margin-bottom: 1.25rem;
}

form a {
  text-decoration: none;
  color: #00669f;
  font-weight: bold;
}

footer {
  height: 3.81rem;
  background: #00669f;
  color: #fff9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CARDS STYLE */

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 850px;
  gap: 50px;
  justify-content: center;
}

.card {
  width: 340px;
  background: #f3f3f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 150px;
}

.arlequina {
  background-image: url('../img/headerCard02.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.batman {
  background-image: url('../img/headerCard01.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.mulherMaravilha {
  background-image: url('../img/headerCard03.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.superman {
  background-image: url('../img/headerCard04.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
}

.cardHeader img {
  width: 138px;
}

.like__button {
  display: inline-block;
  position: relative;
  top: 18px;
  left: 24px;
  cursor: pointer;
}

.cardContent {
  margin-top: 110px;
}

.cardHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cardHeader img {
  border-radius: 50%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cardHeader span {
  margin-top: 23px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.cardDescription {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.cardDescription span {
  width: 300px;
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  min-height: 120px;
}

.cardButton {
  margin: auto;
  display: flex;
  width: 145px;
  height: 54px;
  background: #00669f;
  margin-top: 23px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-bottom: 50px;
}

.cardButton span {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #f3f3f3;
}

@media (max-width: 914px) {
  .discountBar {
    height: 38px;
  }

  header {
    height: 120px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    width: 750px;
  }
}

@media (max-width: 496px) {
  .discountBar {
    height: 55px;
  }

  header {
    height: 135px;
  }
}
